@{
    /* Disable default _Layout.cshtml for this page */
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />

    <title>Kalender</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.print.css' rel='stylesheet' media='print' />

    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>

$(document).ready(function() {

    var calendarStartDate = '@ViewBag.CalendarInitialDisplayDate';
    var settings = {
      calendarItemsUrl: '/api/CalendarItems',
      startDate: moment(calendarStartDate).isValid() ? moment(calendarStartDate) : moment(),
      aspectRatio: 2,
      firstDay: @ViewBag.CalendarFirstDay,
      firstHour: 0,
    };

    var currentSelection = {
      title: null,
      username: null,
      start: null,
      end: null,
    };

    var dialog;
    var calendarDomElement = $('#calendar');

    console.log("settings", settings);

    calendarDomElement.fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      defaultDate: settings.startDate,
      defaultView: 'agendaWeek',
      aspectRatio: settings.aspectRatio, // Hint: larger numbers make smaller heights
      firstDay: settings.firstDay, // Sunday=0, Monday=1 etc
      firstHour: settings.firstHour,
      timeFormat: 'HH:mm',
      slotLabelFormat: 'HH:mm',
      columnHeaderFormat: 'DD.MM.',
      dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
      dayNamesShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
      monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Mai', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dez'],
      weekNumberTitle: 'KW', // 'W'
      selectable: true,
      selectHelper: true,
      select: function(start, end, allDay) {
        currentSelection.start = start;
        currentSelection.end = end;
        $('#calendarEntryModal').modal();
        calendarDomElement.fullCalendar('unselect');
      },
      events: {
        url: settings.calendarItemsUrl,
        error: function() {
          $('#script-warning').show();
        }
      },
      eventRender: function(event, element) {
        // Add username to template
        element.find('.fc-title').after('<div class="fullcalendar-event-username">'+event.username+'</div>');
      }
    });

    /**
     * Post new event and show it in calendar
     */
    var postNewCalenderItem = function(calendarItem) {
      $.ajax({
        type: 'POST',
        url: settings.calendarItemsUrl,
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        data: JSON.stringify(calendarItem),
        success: function(result, status, jqx) {
          calendarDomElement.fullCalendar('renderEvent', calendarItem, true); // stick? = true
        },
        error: function(jqXhr, textStatus, errorThrown) {
          alert('Beim Speichern ist ein Fehler aufgetreten - bitte informieren Sie uns über das Problem');
          console.log('error!', jqXhr, textStatus, errorThrown);
        },
      });
    }

    $('#calendarEntryModal').on('show.bs.modal', function (event) {
      var modal = $(this);
      modal.find('#calendarEntryModalStart').text(currentSelection.start.format('DD.MM.YYYY HH:mm'));
      modal.find('#calendarEntryModalEnd').text(currentSelection.end.format('DD.MM.YYYY HH:mm'));
      var form = modal.find('#calendarEntryForm');
      form.submit(function(e) {

        currentSelection.title = modal.find('#calendarEntryTitle').val();
        currentSelection.username = modal.find('#calendarEntryUsername').val();

        if (currentSelection.title) {
          var eventData = {
            title: currentSelection.title,
            start: currentSelection.start.format(),
            end: currentSelection.end.format(),
            username: currentSelection.username,
          };
          console.log(eventData);
          postNewCalenderItem(eventData);

          // Reset
          currentSelection = {
            title: null,
            username: null,
            start: null,
            end: null,
          };
        }

        modal.find('#calendarEntryTitle').val('');
        modal.find('#calendarEntryUsername').val('');
        modal.modal('hide');
      });
    });

  });
    </script>
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

        .fullcalendar-event-username {
            color: #fff;
            font-size: smaller;
        }
    </style>
</head>
<body>

    <div id="calendar"></div>

    <div class="modal fade" id="calendarEntryModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Neuer Kalendereintrag</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="calendarEntryForm" action="javascript:">
                    <div class="modal-body">
                        <p>
                            Eintrag von <span id="calendarEntryModalStart"></span> bis <span id="calendarEntryModalEnd"></span>
                        </p>
                        <div class="form-group">
                            <label for="calendarEntryTitle">Titel</label>
                            <input type="text" class="form-control" id="calendarEntryTitle" required>
                        </div>
                        <div class="form-group">
                            <label for="calendarEntryUsername">Benutzername</label>
                            <input type="text" class="form-control" id="calendarEntryUsername">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <button type="submit" id="calendarEntrySave" class="btn btn-primary">Eintrag speichern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
